@font-face {
  font-family: 'DungGeunMo';
  src: url('./fonts/DungGeunMo.woff2') format('woff2');
}

* {
  font-family: 'DungGeunMo', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ACD473;
}
